<div id="nav-support"></div>
<br />
<br />
<br />
<br />
<div class="dis-tab">
  <div id="discussions" class="discussions">
    <div class="question" *ngFor="let item of discussions">
      <div class="question-header">
        <div class="title">
          <h3>{{ item.payload.doc.data().title }}</h3>
        </div>
        <div class="sub-title">
          <span>{{ item.payload.doc.data().question }}</span>
        </div>
        <div class="answer" *ngIf="item.payload.doc.data().answer.length > 0">
          <span>Answer: {{ item.payload.doc.data().answer }}</span>
        </div>
      </div>
      <div class="user">
        <div class="pic"><img src="{{ item.payload.doc.data().pic }}" /></div>
        <div class="details">
          <div class="name">
            <strong>{{ item.payload.doc.data().name }}</strong>
          </div>
          <div class="email">{{ item.payload.doc.data().email }}</div>
        </div>
        <div
          class="delete"
          (click)="del(item.payload.doc.id, item.payload.doc.data().uid)"
        >
          Delete
        </div>
        <div
          class="approve"
          (click)="ok(item.payload.doc.id, item.payload.doc.data().uid)"
        >
          Approve
        </div>
      </div>
    </div>
  </div>
</div>
