<div id="nav-support"></div>
<br />
<br />
<br />
<br />
<div class="select">
  <select [(ngModel)]="selectValue" (click)="select()">
    <option value="all">All</option>
    <option value="answered">Answered</option>
    <option value="notanswered">Not Answered</option>
  </select>
</div>
<div class="dis-tab">
  <div id="discussions" class="discussions">
    <div
      class="question"
      *ngFor="let item of discussions"
      [style.border]="
        item.payload.doc.data().answer.length > 0
          ? '5px solid rgb(101, 139, 235)'
          : 'none'
      "
    >
      <div class="question-header">
        <div class="title">
          <h3>{{ item.payload.doc.data().title }}</h3>
        </div>
        <div class="sub-title">
          <span>{{ item.payload.doc.data().question }}</span>
        </div>
        <div class="answer" *ngIf="item.payload.doc.data().answer.length > 0">
          <span>Answer: {{ item.payload.doc.data().answer }}</span>
        </div>
      </div>
      <div class="user">
        <div class="pic"><img src="{{ item.payload.doc.data().pic }}" /></div>
        <div class="details">
          <div class="name">
            <strong>{{ item.payload.doc.data().name }}</strong>
          </div>
          <div class="email">{{ item.payload.doc.data().email }}</div>
        </div>
        <div
          class="delete"
          *ngIf="isAdmin() == true"
          (click)="del(item.payload.doc.id, item.payload.doc.data().uid)"
        >
          Delete
        </div>
        <div
          class="answer"
          *ngIf="isAdmin() == true"
          (click)="ansQuestion(item.payload.doc)"
        >
          Answer
        </div>
      </div>
    </div>
  </div>
</div>

<div id="create" *ngIf="answerState">
  <h3>{{ question }}</h3>
  <textarea [(ngModel)]="answer" placeholder="Your Answer"></textarea>
  <div class="action">
    <button class="ok" (click)="postAnswer()">OK</button>
    <button class="cancel" (click)="answerState = false">Cancel</button>
  </div>
</div>
