<div id="nav-support"></div>
<br />
<br />
<br />
<br />
<div class="dis-tab">
  <div id="discussions" class="discussions">
    <div
      class="question"
      *ngFor="let item of discussions"
      (click)="ansQuestion(item.payload.doc)"
      [style.border]="
        item.payload.doc.data().answer != null
          ? '5px solid rgb(101, 139, 235)'
          : 'none'
      "
    >
      <div class="question-header">
        <div class="title">
          <h3>{{ item.payload.doc.data().title }}</h3>
        </div>
        <div class="sub-title">
          <span>{{ item.payload.doc.data().question }}</span>
        </div>
        <div class="answer" *ngIf="item.payload.doc.data().answer">
          <span>Answer: {{ item.payload.doc.data().answer }}</span>
        </div>
      </div>
      <div class="user">
        <div class="pic"><img src="{{ item.payload.doc.data().pic }}" /></div>
        <div class="details">
          <div class="name">
            <strong>{{ item.payload.doc.data().name }}</strong>
          </div>
          <div class="email">{{ item.payload.doc.data().email }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="create" *ngIf="answerState">
  <h3>{{ question }}</h3>
  <textarea [(ngModel)]="answer" placeholder="Your Answer"></textarea>
  <div class="action">
    <button class="ok" (click)="postAnswer()">OK</button>
    <button class="cancel" (click)="answerState = false">Cancel</button>
  </div>
</div>
