.select {
  margin: auto;
  position: fixed;
  right: 20px;
  select {
    padding: 10px;
  }
}
@keyframes size {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 50%;
    height: 30%;
  }
}
.dis-tab {
  height: 85vh;
  margin-top: 30px;
  overflow-y: scroll;
  .discussions {
    margin: auto;
    .question {
      box-shadow: 2px 2px 8px rgb(211, 211, 211);
      padding: 20px;
      margin: auto;
      margin-bottom: 20px;
      width: 80%;

      &:hover {
        box-shadow: 2px 2px 20px rgb(211, 211, 211);
      }

      .question-header {
        .title {
          h2 {
            margin: 0;
          }
        }
        .sub-title {
          color: rgb(83, 83, 83);
        }
        .answer {
          margin-top: 10px;
          color: rgb(58, 58, 236);
        }
      }
      .user {
        margin-top: 15px;
        display: flex;
        align-items: center;
        .pic {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        .details {
          padding: 10px;
        }

        .delete {
          padding: 8px;
          margin: 8px;
          background-color: rgb(231, 69, 69);
          color: white;
          border-radius: 10px;
          &:active {
            box-shadow: 2px 2px 10px rgb(209, 209, 209);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .discussions {
    .question {
      width: 100%;
      .user {
        .details {
          width: 80%;
          overflow-wrap: break-word;
        }
      }
    }
  }
}

#nav-support {
  background-color: black;
  width: 100%;
  position: fixed;
}

#create {
  padding: 30px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 5px 5px 10px rgb(116, 116, 116);
  textarea {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid grey;

    &:focus {
      border: 5px solid black;
    }
  }
  .action {
    margin: 10px;
    display: flex;
    button {
      margin-right: 10px;
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      color: black;
      border: 0;
      border: 5px solid grey;
    }

    .ok:hover {
      border: 5px solid rgb(74, 150, 24);
    }

    .cancel:hover {
      border: 5px solid rgb(201, 39, 39);
    }
  }
}
