<div class="skills">
  <div class="header">
    <h2>Skills</h2>
    <hr />
  </div>
  <div class="skill-set">
    <div class="header" *ngFor="let item of items">
      <h2>{{ item }}</h2>
      <hr />
    </div>
  </div>
  <br />
  <br />
  <iframe
    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsatya.ramkumar.1%2Fposts%2F2794655203971825&show_text=true&width=552&height=375&appId"
    style="border: none; overflow: hidden;"
    scrolling="no"
    frameborder="0"
    allowTransparency="true"
    allow="encrypted-media"
  ></iframe>
</div>
