.skills {
  .skill-set {
    border: 1px solid #149ddd4b;
    margin-top: 10px;
    .header {
      margin: 50px;
      h2 {
        font-size: 14px;
      }
      hr {
        background-color: #149ddd;
      }
    }
  }

  iframe {
    height: 375px;
    width: 552px;
  }
}

@media only screen and (max-width: 600px) {
  iframe {
    width: 90vw !important;
    height: 65vw !important;
  }
}
