<div class="create">
  <button (click)="createQuestion()"><strong>Create Question +</strong></button>
  <div class="select">
    <select [(ngModel)]="selectValue" (click)="select()">
      <option value="all">All</option>
      <option value="answered">Answered</option>
      <option value="notanswered">Not Answered</option>
    </select>
  </div>
</div>
<br />
<br />

<div class="dis-tab">
  <div class="discussions">
    <div class="question" *ngFor="let item of discussions">
      <div class="question-header">
        <div class="title">
          <h3>{{ item.payload.doc.data().title }}</h3>
        </div>
        <div class="sub-title">
          <span>{{ item.payload.doc.data().question }}</span>
        </div>
        <div class="answer">
          <span>Answer: {{ item.payload.doc.data().answer }}</span>
        </div>
      </div>
      <div class="user">
        <div class="pic"><img src="{{ item.payload.doc.data().pic }}" /></div>
        <div class="details">
          <div class="name">
            <strong>{{ item.payload.doc.data().name }}</strong>
          </div>
          <div class="emai">{{ item.payload.doc.data().email }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="input" *ngIf="input">
  <div class="in">
    <input required id="title" class="in-data" placeholder="Title" />
    <textarea required id="question" class="in-data" placeholder="Question"></textarea>
  </div>
  <div class="action">
    <button class="ok" (click)="create()">OK</button>
    <button class="cancel" (click)="input = false">Cancel</button>
  </div>
</div>