.create {
  width: 90vw;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  button {
    width: 50%;
    margin: auto;
    padding: 20px;
    color: white;
    background-color: black;
    border: 0;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.26);

    &:active {
      box-shadow: 5px 5px rgba(0, 0, 0, 0.26);
    }
  }
}
.select {
  margin: auto;
  right: 20px;
  select {
    padding: 10px;
  }
}

.dis-tab {
  height: 85%;
  overflow-y: scroll;
  .discussions {
    margin: auto;
    .question {
      box-shadow: 2px 2px 8px rgb(211, 211, 211);
      padding: 20px;
      margin: auto;
      margin-bottom: 20px;
      width: 80%;

      &:hover {
        box-shadow: 2px 2px 20px rgb(211, 211, 211);
      }

      .question-header {
        .title {
          h2 {
            margin: 0;
          }
        }
        .sub-title {
          color: rgb(83, 83, 83);
        }
        .answer {
          margin-top: 10px;
          color: rgb(58, 58, 236);
        }
      }
      .user {
        margin-top: 15px;
        display: flex;
        align-items: center;
        .pic {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        .delete {
          padding: 8px;
          margin: 8px;
          background-color: rgb(231, 69, 69);
          color: white;
          border-radius: 10px;
          &:active {
            box-shadow: 2px 2px 10px rgb(209, 209, 209);
          }
        }
        .details {
          padding: 10px;
        }
      }
    }
  }
}

.input {
  width: 50%;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 20px rgb(26, 26, 26);
  padding: 40px;
  background-color: white;
  .in {
    margin: 10px;
    display: flex;
    flex-direction: column;

    .in-data {
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 10px;
      border: 5px solid grey;

      &:focus {
        border: 5px solid black;
      }
    }
  }
  .action {
    margin: 10px;
    display: flex;
    button {
      margin-right: 10px;
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      color: black;
      border: 0;
      border: 5px solid grey;
    }

    .ok:hover {
      border: 5px solid rgb(74, 150, 24);
    }

    .cancel:hover {
      border: 5px solid rgb(201, 39, 39);
    }
  }
  animation: size 500ms ease;
}

@keyframes size {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
#nav-support {
  background-color: black;
  width: 100%;
  position: fixed;
}

@media only screen and (max-width: 600px) {
  .discussions {
    .question {
      width: 90%;
      .user {
        .details {
          overflow-wrap: break-word;
        }
      }
    }
  }
}
