<div class="facts">
  <div class="header">
    <h2>Facts</h2>
    <hr />
  </div>
  <div class="details">
    <span
      >Worked in various well known instituions with 10+ years of experince and
      able to help students to conquer GATE exam.These short achievements giving
      me a lot of pleasure and immense satisfaction and I am here to help
      students to acheive their goals.</span
    >
    <div class="numbers">
      <div class="row">
        <div class="item">
          <h1>50000</h1>
          <span
            ><strong>Successful students</strong> able to conquer
            <strong>GATE</strong></span
          >
        </div>
        <div class="item">
          <h1>7</h1>
          <span
            ><strong>Institutions</strong> Worked in prominent institutes</span
          >
        </div>
      </div>
      <div class="row">
        <div class="item">
          <h1>2</h1>
          <span><strong>Specialization</strong> in different subjects</span>
        </div>
        <div class="item">
          <h1>10+</h1>
          <span><strong>Experience</strong> in teaching fields</span>
        </div>
      </div>
    </div>
  </div>
</div>
