<div class="resume">
  <div class="header">
    <h2>Resume</h2>
    <hr />
    <br />
  </div>

  <div class="summary header">
    <h2>Summary</h2>
    <div class="tab">
      <div class="thing">
        <span class="repo"></span>
        <div class="line"></div>
      </div>

      <div class="data header">
        <div class="title">
          <h2>RAM KUMAR</h2>
        </div>
        <div class="data-items">
          <span
            >Innovative and deadline-driven faculty with 10+ years of experience
            of teaching from initial concept to final, polished
            deliverable.</span
          >
          <ul>
            <li>Visakhapatnam</li>
            <li>+91 991 238 9639</li>
            <li>ramofficial445@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="summary header">
    <h2>Education</h2>
    <div class="tab">
      <div class="thing">
        <span class="repo"></span>
        <div class="line"></div>
      </div>

      <div class="data header">
        <div class="title">
          <h2>M.TECH IN COMPUTER SCIENCE</h2>
        </div>
        <div class="data-items">
          <h5 style="padding: 5px; background-color: #e4edf9;">2005-2007</h5>
          <span
            >JNTU<br />I completed my Master of Engineering in the field of
            computer science in JNTU under college.</span
          >
        </div>
      </div>
    </div>

    <div class="tab">
      <div class="thing">
        <span class="repo"></span>
        <div class="line"></div>
      </div>

      <div class="data header">
        <div class="title">
          <h2>Bachelor of Technology in Electronics and Communication</h2>
        </div>
        <div class="data-items">
          <h5 style="padding: 5px; background-color: #e4edf9;">2000-2004</h5>
          <span
            >JNTU<br />I completed my Bachelor degree in Electronic and
            Communication in GMRIT College which is under JNTU.
          </span>
        </div>
      </div>
    </div>
    <h1>Professional Experience</h1>
    <div class="tab">
      <div class="thing">
        <span class="repo"></span>
        <div class="line"></div>
      </div>

      <div class="data header">
        <div class="title">
          <h2>Computer Networks Faculty</h2>
        </div>
        <div class="data-items">
          <h5 style="padding: 5px; background-color: #e4edf9;">
            2020 - Present Made &nbsp;Easy Private Limited
          </h5>
          <span>New Delhi, India </span>
          <ul>
            <li>
              Present working as GATE faculty in Made Easy Private Limited.
            </li>
            <li>Have 8 years experience as a gate faculty.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="thing">
        <span class="repo"></span>
        <div class="line"></div>
      </div>

      <div class="data header">
        <div class="title">
          <h2>Faculty in GVP Engineering College</h2>
        </div>
        <div class="data-items">
          <h5 style="padding: 5px; background-color: #e4edf9;">
            2008-2012
          </h5>

          <span>Visakhapatnam , India </span>
          <ul>
            <li>Worked as a computer Organization faculty.</li>
            <li>Worked with other faculties for NBA accreditation.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="thing">
        <span class="repo"></span>
        <div class="line"></div>
      </div>

      <div class="data header">
        <div class="title">
          <h2>Faculty in Chaitanya Engineering College</h2>
        </div>
        <div class="data-items">
          <h5 style="padding: 5px; background-color: #e4edf9;">
            2012-2013
          </h5>

          <span>Visakhapatnam , India </span>
          <ul>
            <li>Worked as Computer organization Faculty.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
