<div class="about">
  <div class="header">
    <h2>About Me</h2>
    <hr />
  </div>
  <div class="content">
    <p>
      I am an enthusiastic, self-motivated, responsible and hard working
      person.I have guided more than 50000 students in GATE exam specifically
      <strong>Computer Networks Subject</strong>. I am a mature team worker and
      adaptable to all challenging situations. I am able to work well both in a
      team environment as well as using own initiative. I am able to work well
      under pressure and adhere to strict deadlines.I am passionate about
      computer networks.
    </p>

    <div class="pan">
      <div class="details-pan">
        <div class="header">
          <h3>Computer Science Faculty</h3>
          <br />
          <span>I am working in teaching field from past 10 years. </span>
        </div>
        <div class="details">
          <div class="item">
            <span> <strong>Birthday: </strong>30 March 1983 </span>
          </div>
          <br />
          <div class="item">
            <span> <strong>Website: </strong>www.ramakumar.in </span>
          </div>
          <br />
          <div class="item">
            <span> <strong>Phone: </strong>+91 991 238 9639 </span>
          </div>
          <br />
          <div class="item">
            <span> <strong>City: </strong>30 March 1983 </span>
          </div>
          <br />
          <div class="item">
            <span> <strong>Degree: </strong>M.tech </span>
          </div>
          <br />
          <div class="item">
            <span> <strong>Email: </strong>ramofficial445@gmail.com </span>
          </div>
        </div>
      </div>
      <ng-lottie [options]="options"></ng-lottie>
    </div>
  </div>
</div>
