.about {
  .content {
    font-family: "Ubuntu", sans-serif;
    color: #333;
    .pan {
      display: flex;
      .header {
        h3 {
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: 26px;
          color: #173b6c;
          margin-bottom: 0px;
        }
      }
      .details {
        margin-top: 30px;
        .item {
          padding-top: 5px;
        }
      }
    }
  }
}
