.title {
  text-align: center;
  position: relative;
  top: -250px;
  color: white;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  h1 {
    border: 6px solid white;
    border-top: none;
    border-left: none;
    border-radius: 10px;
    border-right: none;
  }
}

#particles-js {
  transition: all 500ms ease-in;
}
