.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  color: rgb(199, 199, 199);
  transition: all 300ms ease;

  .menu {
    display: none;
  }

  .menu-items {
    display: none;
  }

  .title {
    cursor: pointer;
    color: white;
  }

  .nav-items {
    display: flex;
    align-items: center;

    .item {
      margin: 10px;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    .user {
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        width: 30px;
        margin-left: 10px;
      }
    }
  }
}

.methods {
  position: fixed;
  padding: 30px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgb(180, 180, 180);
  display: flex;
  flex-direction: column;

  .bt {
    margin: 10px;
    display: flex;
    align-items: center;
    img {
      height: 35px;
      width: auto;
    }

    button {
      padding: 10px;
      outline: 0;
      border-radius: 5px;
      background-color: rgb(184, 47, 47);
      margin: 10px;
      color: white;
    }
  }

  .google {
    background-color: #4285f4;
    color: white;
    padding: 3px;
    p {
      margin: 0;
      margin-right: 5px;
      margin-left: 5px;
    }
    svg {
      background-color: white;
      padding: 10px;
    }
  }

  .yahoo {
    border: 5px solid #720e9e;
    border-radius: 10px;
    img {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .nav-bar {
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;

    .title {
      color: white;
    }

    .menu {
      display: block;
      cursor: pointer;
    }

    .nav-items {
      display: none;
    }

    .menu-items {
      display: flex;
      padding: 20px;
      position: fixed;
      flex-direction: column;
      z-index: 5;
      background-color: rgba(56, 56, 56, 0.74);
      color: white;
      top: 70px;
      border-radius: 10px;
      right: 10px;
    }
  }
}
