<div class="test">
  <div class="header">
    <h2>Facts</h2>
    <hr />
  </div>
  <div class="content">
    <span
      >Student success should be a teacher's number one priority. For some
      students, success will be getting a good ranks. For others, it might mean
      increased involvement in class.Here are happy responses of some successful
      students in their career .
    </span>
    <div class="posts">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=http%3A%2F%2Fwww.facebook.com%2Fstory.php%3Fstory_fbid%3D1008821579200590%26id%3D100002182721987%26scmts%3Dscwspsdd%26extid%3DZN0dkopboTNQw2d8&show_text=true"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media"
        allowfullscreen
      ></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=http%3A%2F%2Fwww.facebook.com%2Fstory.php%3Fstory_fbid%3D691973450933507%26id%3D100003625757691%26scmts%3Dscwspsdd%26extid%3DKfS8AJqo6BS9cakk&show_text=true"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media"
        allowfullscreen
      ></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=http%3A%2F%2Fwww.facebook.com%2Fstory.php%3Fstory_fbid%3D833940379950536%26id%3D100000037441742%26scmts%3Dscwspsdd%26extid%3DtvOuN8owc2amcAga&show_text=true"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media"
        allowfullscreen
      ></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=http%3A%2F%2Fwww.facebook.com%2Fstory.php%3Fstory_fbid%3D1413556012252265%26id%3D100007936385562%26scmts%3Dscwspsdd%26extid%3DwH38iLwLS1GDLUfX&show_text=true"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
