.interest {
  .interest-set {
    border: 1px solid #149ddd4b;
    margin-top: 10px;
    .header {
      margin: 50px;
      h2 {
        font-size: 14px;
      }
      hr {
        background-color: #149ddd;
      }
    }
  }
}
